body{
  background-image: url("/public/bodyBg.jpg");
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: #000;
}

.back-btn{
  background-color: blue;
}
.edit-btn{
  background-color: green;
}
.delete-btn{
  background-color: red;
}
.reset-btn{
  background-color: blue;
}
.add-btn{
  background-color: green;
}
.submit-btn{
  background-color: green;
}
.btn{
  cursor: pointer;
  margin: 0;
  padding: 10px;
  min-width: 100px;
  font-size: large;
  font-weight: bold;
  border: none;
}
.btn a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
}
.btn:hover{
  opacity: 0.8;
}
.btns-container-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  
  padding: 10px;
    background-color: aliceblue;
    max-width: 550px;
  margin-bottom: 10px;
}
.btns-container-column{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  padding: 10px;
  align-items: center;
  background-color: aliceblue;
}
.radio-btns-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: 100%;
  padding: 10px;
}
.form-group{
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
